@font-face {
  font-family: 'Nexa Bold';
  src: url('/fonts/nexa/Nexa-Bold.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Nexa Light';
  src: url('/fonts/nexa/Nexa-Light.ttf');
  font-style: normal;
  font-weight: 300;
}
